<footer>
    <p>
        <a data-area="7976" data-bind="link-ext-t" data-local="969388" href="#"></a>
    </p>
    <p>
        <a data-bind="link-ext-m" data-domain="stringer-builders" data-name="paul" data-tld="co.uk" href="#"></a>
    </p>
    <p>
        <a href="{% link index.md %}" title="Link to Homepage">
            <span class="colour-alternate">www.</span>stringer-builders<span class="colour-alternate">.co.uk</span>
        </a>
    </p>
</footer>
