{% if include.images.size > 0 %}
<section class="image-grid{% if include.class %} {{ include.class }}{% endif %}">
    {% for image in include.images %}
    {% capture image_src %}{% image_as_src {{ image.src }} max-2000x2000 %}{% endcapture %}
    <a data-bind="show-image-modal" data-image-name="{{ image.name }}" href="{{ image_src }}" title="Link to {{ image.name }}">
        <figure>
            {% image {{ image.src }} fill-160x160,fill-968x968 alt="{{ image.name }}" %}

            <figcaption>
                <p>{{ image.name }}</p>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</section>
{% endif %}