<header>
    <h1>
        <a href="{% link index.md %}" title="Link to Home Page">Paul Stringer</a>
    </h1>

    <nav id="menu">
        <a href="#">
            <img alt="Close menu" class="button" src="{% static images/layout/cross.svg %}" />
        </a>

        <h2 class="services-mobile">
            <a href="#services">Services &nbsp;&#9656;</a>
        </h2>

        <h2 class="services-dropdown">
            <a href="#services-dropdown">Services &#9662;</a>
        </h2>

        <ul id="services-dropdown">
            {% for item in site.data.services %}
            <li>
                <h2>
                    <a href="{% link {{ item.link }} %}" title="Link to {{ item.name }}">{{ item.name }}</a>
                </h2>
            </li>
            {% endfor %}

            <li class="close">
                <h2>
                    <a href="#">Close</a>
                </h2>
            </li>
        </ul>

        {% for item in site.data.navigation %}
        <h2>
            <a href="{% link {{ item.link }} %}" title="Link to {{ item.name }}">{{ item.name }}</a>
        </h2>
        {% endfor %}

        {% for item in site.data.social %}
        <a class="social{% if forloop.index == 1 %} -first{% endif %}" href="{{ item.link }}" title="Link to {{ item.name }}">
            <figure>
                <figcaption>
                    <h2>{{ item.name }}</h2>
                </figcaption>
                {% image {{ item.image }} fill-32x32 alt="{{ item.name }}" %}
            </figure>
        </a>
        {% endfor %}
    </nav>

    <nav id="services">
        <a href="#menu">
            <img alt="Close menu" class="button" src="{% static images/layout/cross.svg %}" />
        </a>

        {% for item in site.data.services %}
        <h2>
            <a href="{% link {{ item.link }} %}" title="Link to {{ item.name }}">{{ item.name }}</a>
        </h2>
        {% endfor %}
    </nav>

    <a href="#menu">
        <img alt="Open menu" class="button" src="{% static images/layout/burger.svg %}" />
    </a>
</header>