// SPDX-FileCopyrightText: 2019 Andrew Hayzen <ahayzen@gmail.com>
//
// SPDX-License-Identifier: MPL-2.0

$background:    #56a0d4;
$foreground:    #FFFFFF;
$tertiary:      #000000;
$link:          #3670a1;