---
layout: default
---
<section class="contact-flex">
    <address>
        {{ content | indent: 8 }}
    </address>
    {% image {{ page.image.src }} max-1000x1000 alt="{{ page.image.name }}" class="contact-image" %}
</section>