<!doctype html>
<!--
SPDX-FileCopyrightText: 2019, 2020 Stringer Builders
SPDX-FileContributor: Andrew Hayzen <ahayzen@gmail.com>

SPDX-License-Identifier: MPL-2.0
-->
<html lang="{{ site.lang }}">

<head>
    <meta charset="utf-8" />

    <title>
        {%- if page.title-tag -%}
        {{ page.title-tag }}
        {%- else -%}
        {{ site.title }} - {{ page.title }}
        {%- endif -%}
    </title>

    {% font https://fonts.googleapis.com/css?family=Open+Sans&display=swap opensans %}

    <link rel="stylesheet" href="{% static css/styles.css %}" />

    <link rel="shortcut icon" type="image/x-icon" href="{% static images/layout/favicon.ico %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% capture seo %}{% seo title=false %}{% endcapture %}{{ seo | indent: 4 }}

    {% capture analytics %}{% analytics %}{% endcapture %}{{ analytics | indent: 4 }}
</head>

<body>
    {% capture nav %}{% include navigation.html %}{% endcapture %}{{ nav | indent: 4 }}

    {% capture banner %}{% include banner.html %}{% endcapture %}{{ banner | indent: 4 }}

    <article>
        {{ content | indent: 8 }}
    </article>

    {% capture footer %}{% include footer.html %}{% endcapture %}{{ footer | indent: 4 }}

    <script defer src="{% static js/datareader.js %}"></script>
    <script defer src="{% static js/imagegrid.js %}"></script>
    <script defer src="{% static js/landie.js %}"></script>
</body>

</html>