---
layout: default
---
{% if site.data.services.size > 0 %}
<section class="home-grid">
    {% for service in site.data.services limit:5 %}
    <a href="{% link {{ service.link }} %}" title="Link to {{ service.name }}">
        <figure>
            {% if forloop.index == 1 or forloop.index == 5 %}
            {% image {{ service.image }} max-2000x2000,fill-968x968 alt="{{ service.name }}" %}
            {%- else -%}
            {% image {{ service.image }} fill-500x500,fill-968x968 alt="{{ service.name }}" %}
            {% endif %}
            <figcaption>
                <h2>{{ service.name }}</h2>
            </figcaption>
        </figure>
    </a>
    {% endfor %}
</section>

{% endif %}
{{ content }}