<!doctype html>
<html lang="{{ site.lang }}">

<head>
    <meta charset="utf-8" />

    <title>Redirecting&hellip;</title>

    <script>location = "{{ page.redirect.to }}"</script>

    <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="canonical" href="{{ page.redirect.to }}">

    <link rel="stylesheet" href="{% static css/styles.css %}" />
</head>

<body>
    <article>
        <h1>Redirecting&hellip;</h1>
        <a href="{{ page.redirect.to }}">Click here if you are not redirected.</a>
    </article>
</body>

</html>
